USE [master]
GO
/****** Object:  Table [dbo].[AUDITORIA]    Script Date: 05/30/2018 02:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AUDITORIA](
	[ID_AUDITORIA] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_AUDITORIA] [varchar](20) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[NOMBRE_USUARIO] [varchar](20) NULL,
	[APELLIDO_USUARIO] [varchar](20) NULL,
	[NOMBRE_SERVICIO] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_AUDITORIA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
