USE [TRABAJO_PRACTICO]
GO
/****** Object:  Table [dbo].[TURNO]    Script Date: 04/16/2018 21:23:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURNO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_EMPLEADO] [int] NOT NULL,
	[ID_SERVICIO] [int] NOT NULL,
	[ID_PROFESIONAL] [int] NOT NULL,
	[DNI] [int] NOT NULL,
	[FECHA_HORA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
