USE [master]
GO
/****** Object:  StoredProcedure [dbo].[ALTA_SERVICIO]    Script Date: 05/08/2018 22:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ALTA_SERVICIO](@ID_SERVICIO int, @NOMBRE_SERVICIO varchar(30))
AS
BEGIN
INSERT INTO SERVICIO(ID_SERVICIO,NOMBRE_SERVICIO) VALUES (@ID_SERVICIO,@NOMBRE_SERVICIO)
END
GO
