USE [master]
GO
/****** Object:  StoredProcedure [dbo].[ALTA_H_R]    Script Date: 05/08/2018 22:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ALTA_H_R](@HORA_ENTRADA DATETIME, @HORA_SALIDA DATETIME)
AS
BEGIN
INSERT PROFESIONAL(HORA_ENTRADA,HORA_SALIDA) VALUES (@HORA_ENTRADA, @HORA_SALIDA)
END
GO
