USE [master]
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_PROFESIONAL]    Script Date: 05/30/2018 02:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MODIFICAR_PROFESIONAL](@ID_PROFESIONAL int, @MATRICULA int, @NOMBRE varchar(20),@APELLIDO varchar(20), @HORA_ENTRADA INT, @HORA_SALIDA INT)
AS
BEGIN
UPDATE PROFESIONAL SET MATRICULA=@MATRICULA, NOMBRE=@NOMBRE, APELLIDO=@APELLIDO, HORA_ENTRADA=@HORA_ENTRADA, HORA_SALIDA=@HORA_SALIDA
WHERE ID_PROFESIONAL=@ID_PROFESIONAL
END
GO
