USE [master]
GO
/****** Object:  StoredProcedure [dbo].[BAJA_PROFESIONAL]    Script Date: 05/08/2018 22:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BAJA_PROFESIONAL](@ID_PROFESIONAL INT, @MSJ VARCHAR(30) OUTPUT) 
AS
BEGIN
IF(@ID_PROFESIONAL IN(SELECT @ID_PROFESIONAL FROM PROFESIONAL)) 
BEGIN
DELETE FROM PROFESIONAL WHERE ID_PROFESIONAL=@ID_PROFESIONAL
SET @MSJ='REGISTRO ELIMINADO' 
END
ELSE
SET @MSJ='NO EXISTE EL CODIGO EN LA BASE DE DATOS' 
END
GO
