USE [TRABAJO_PRACTICO]
GO
/****** Object:  StoredProcedure [dbo].[BAJA_PACIENTE]    Script Date: 04/16/2018 22:59:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BAJA_PACIENTE](@DNI INT, @MSJ VARCHAR(30) OUTPUT) 
AS
BEGIN
IF(@DNI IN(SELECT @DNI FROM PACIENTE)) 
BEGIN
DELETE FROM PACIENTE WHERE DNI=@DNI
SET @MSJ='REGISTRO ELIMINADO' 
END
ELSE
SET @MSJ='NO EXISTE EL CODIGO EN LA BASE DE DATOS' 
END
GO
