USE [master]
GO
/****** Object:  StoredProcedure [dbo].[CONSULTA_SERV_PROF]    Script Date: 05/30/2018 02:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CONSULTA_SERV_PROF]
AS
BEGIN
SELECT ID_PROFESIONAL, MATRICULA, ID_SERVICIO, NOMBRE_SERVICIO
FROM PROFESIONAL INNER JOIN SERVICIO
ON PROFESIONAL.ID_PROFESIONAL=SERVICIO.ID_SERVICIO
END
GO
