USE [master]
GO
/****** Object:  StoredProcedure [dbo].[consultar_fecha]    Script Date: 05/30/2018 02:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[consultar_fecha]
AS
BEGIN
SET NOCOUNT ON
IF EXISTS(SELECT * FROM TURNO WHERE FECHA_HORA BETWEEN '2018-02-02' AND '2018-02-10')
    SELECT 'ESTA DISPONIBLE'
ELSE
    SELECT 'NO ESTA DISPONIBLE'
END
GO
