USE [master]
GO
/****** Object:  StoredProcedure [dbo].[PROXIMO_DISPONIBLE]    Script Date: 05/30/2018 02:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROXIMO_DISPONIBLE]
AS
BEGIN
INSERT INTO TURNO(ID_EMPLEADO, ID_SERVICIO,ID_PROFESIONAL,DNI,FECHA_HORA)
SELECT 
ID_EMPLEADO, ID_SERVICIO,ID_PROFESIONAL,DNI,
CASE 
WHEN FECHA_HORA IS NULL THEN 0
END
FROM TURNO
END
GO
