USE [master]
GO
/****** Object:  StoredProcedure [dbo].[RESERVAR_TURNO]    Script Date: 05/30/2018 02:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RESERVAR_TURNO]
AS
BEGIN
declare @FECHA DATETIME
select @FECHA = '2018-01-01'
INSERT INTO TURNO(ID_EMPLEADO, ID_SERVICIO,ID_PROFESIONAL,DNI,FECHA_HORA)
SELECT 
ID_EMPLEADO, ID_SERVICIO,ID_PROFESIONAL,DNI,
CASE 
WHEN FECHA_HORA IS NULL THEN @FECHA
END
FROM TURNO
END
GO
