USE [master]
GO
/****** Object:  StoredProcedure [dbo].[CANCELAR_TURNO]    Script Date: 05/30/2018 02:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CANCELAR_TURNO] (@MSJ VARCHAR(30) OUTPUT)
AS
BEGIN
declare @FECHA DATETIME
select @FECHA = '2018-01-01'
DELETE FROM TURNO WHERE FECHA_HORA = @FECHA
SET @MSJ='REGISTRO ELIMINADO'
END
GO
