USE [master]
GO
/****** Object:  StoredProcedure [dbo].[LISTA_SERV_PROF]    Script Date: 05/30/2018 02:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTA_SERV_PROF]
AS
BEGIN
SELECT *, GETDATE()
FROM PROFESIONAL INNER JOIN SERVICIO 
ON PROFESIONAL.ID_PROFESIONAL=SERVICIO.ID_SERVICIO
END
GO
