USE [TRABAJO_PRACTICO]
GO
/****** Object:  StoredProcedure [dbo].[ALTA_H_R]    Script Date: 04/16/2018 22:59:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ALTA_H_R](@HORA_ENTRADA DATETIME, @HORA_SALIDA DATETIME)
AS
BEGIN
INSERT PROFESIONAL(HORA_ENTRADA,HORA_SALIDA) VALUES (@HORA_ENTRADA, @HORA_SALIDA)
END
GO
