USE [TRABAJO_PRACTICO]
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_SERVICIO]    Script Date: 04/16/2018 22:59:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MODIFICAR_SERVICIO](@ID_SERVICIO INT, @NOMBRE_SERVICIO varchar(30))
AS
BEGIN
UPDATE SERVICIO SET NOMBRE_SERVICIO=@NOMBRE_SERVICIO
WHERE ID_SERVICIO=@ID_SERVICIO
END
GO
