USE [TRABAJO_PRACTICO]
GO
/****** Object:  StoredProcedure [dbo].[ALTA_PACIENTE]    Script Date: 04/16/2018 22:59:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ALTA_PACIENTE](@DNI int, @NOMBRE varchar(20), @APELLIDO VARCHAR(20))
AS
BEGIN
INSERT INTO PACIENTE(DNI,NOMBRE,APELLIDO) VALUES (@DNI,@NOMBRE,@APELLIDO)
END
GO
