USE [TRABAJO_PRACTICO]
GO
/****** Object:  Table [dbo].[PROFESIONAL]    Script Date: 04/16/2018 21:23:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROFESIONAL](
	[ID_PROFESIONAL] [int] NOT NULL,
	[MATRICULA] [int] NOT NULL,
	[NOMBRE] [varchar](20) NULL,
	[APELLIDO] [varchar](20) NULL,
	[HORA_ENTRADA] [datetime] NULL,
	[HORA_SALIDA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROFESIONAL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
